* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
    text-align: center;
  }

p {
  clear: right;
  padding: 7px;
  font-size: 120%;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;

}

.title {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    padding: 5px 20px;
    background-color: yellow;
    border: 1px solid black;
    font-size: 150%;
    color: red;
  }

.wrap1, .wrap2, .wrap3{ 
  border: 1px solid black;
  margin: 10px;
  background-color: grey;
}

@media(min-width: 992px) {
  .col-lg-3{
  	width: 33.3%;
  	float: left;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .col-md-2 {
  	width: 50%;
  	float: left;
  }
  .col-md-1 {
  	width: 100%;
    clear: both;
  }
  .wrap1 {
    margin: 0px 10px 10px 10px;
  }
  .wrap2 {
    margin: 0px 10px 0px 0px;
  }
  .wrap3 {
    margin-top: 10px;
  }
}

@media(max-width: 767px) {
  .col-sm-1{
  	width: 100%;
    float: left;
  }
}